<h1>Signup for Alpha Blog </h1>

<% if @user.errors.any? %>
<h2>The following error prevents the user to be saved </h2>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>



<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
